.body {
   background-image: url('./images/bg-pattern.png');
   }
   
    .box {
    margin: 100px auto;
    width: 300px;
    height: 50px;
    }

    .container {
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
  }

  .container input#search {
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 15px;
    border-radius: 10px;
  }
  .container button.icon {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    transition: all 0.55s ease;
  }
  .container:hover button.icon,
  .container:active button.icon,
  .container:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
  .container:hover button.icon:hover {
    background: rgb(224, 224, 210);
  } 

   .list {
    font-weight: 400;
  }

  .card-img {
    display: block;
    width: 100%;
    border: 1px solid grey;
  }

  